// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.simple-background {
    position             : fixed;
    top                  : 0;
    right                : 0;
    bottom               : 0;
    left                 : 0;
    background-attachment: fixed;
    background-position  : center center;
    background-size      : cover;
    opacity              : 0.2;
    z-index              : 10000;
    overflow             : hidden;
    pointer-events       : none;
    filter               : grayscale(90%);
}
.character-image {
    position             : absolute;
    opacity              : 0.4;
    right                : 0;
    bottom               : 40px;
    overflow             : hidden;
    pointer-events       : none;
    z-index              : 9999;
    width                : 256px;
    height               : 256px;
    background-repeat    : no-repeat;
    filter               : grayscale(70%);
}
